.btn-wbi {
  background-color: #dde6ee;
  padding: 1rem 2rem;
  border: none;
  color: #0d6c8d;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}
.btn-wbi:hover {
  background-color: #0d6c8d;
  color: white;
}

nav.navbar {
  font-family: "Outfit", sans-serif;
}
nav.navbar img {
  object-fit: contain;
  width: auto;
  height: 35px;
}
@media (min-width: 768px) {
  nav.navbar img {
    height: 48px;
  }
}
nav.navbar button {
  border: none;
  padding: 4px;
  color: #0d6c8d;
}
nav.navbar button i {
  font-size: 1.5rem;
}
nav.navbar button i.hide {
  display: none;
}
nav.navbar button:focus {
  outline: none;
  box-shadow: none !important;
}
nav.navbar .navbar-nav {
  gap: 1rem;
}
nav.navbar .navbar-nav a.nav-link {
  font-weight: 500;
  color: #0d6c8d;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
nav.navbar .navbar-nav a.nav-link:hover {
  color: #0f7b9f;
  text-decoration: underline;
}

footer {
  font-family: "Outfit", sans-serif;
  padding-block: 32px;
  background-color: white;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer h2 {
  color: #0d6c8d;
  font-size: 24px;
}
@media (max-width: 768px) {
  footer .container .footer-content {
    flex-direction: column;
  }
}
footer .container .footer-content .simple-description {
  width: 288px;
}
footer .container .footer-content .simple-description img {
  object-fit: contain;
  width: auto;
  height: 72px;
}
footer .container .footer-content .simple-description p {
  font-weight: 400;
  color: #80838d;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 992px) {
  footer .container .footer-content .services {
    min-width: 488px;
  }
}
footer .container .footer-content .services .services-list {
  gap: 8px;
}
footer .container .footer-content .services .services-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #80838d;
}
footer .container .footer-content .contact {
  width: 184px;
  text-align: end;
}
@media (max-width: 768px) {
  footer .container .footer-content .contact {
    text-align: start;
  }
}
footer .container .footer-content .contact p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #80838d;
  text-align: end;
}
@media (max-width: 768px) {
  footer .container .footer-content .contact p {
    text-align: start;
  }
}
footer .container .footer-content .contact .telp {
  justify-content: start;
}
@media (min-width: 768px) {
  footer .container .footer-content .contact .telp {
    justify-content: end;
  }
}
footer .container .footer-content .contact .telp i.fa-phone {
  font-size: 12px;
  color: #0d6c8d;
}
footer .container .footer-content .contact .social-media {
  margin-top: 24px;
}
footer .container .footer-content .contact .social-media a i {
  font-size: 24px;
  color: #80838d;
}
footer .container .footer-content .contact .social-media a i:hover {
  color: #0d6c8d;
}
footer .container .copyright {
  font-size: 12px;
  font-weight: 500;
  color: #80838d;
  margin-top: 64px;
  gap: 2rem;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  footer .container .copyright {
    width: fit-content;
    justify-content: start !important;
  }
}
@media (min-width: 768px) {
  footer .container .copyright {
    flex-direction: row;
  }
}
footer .container .copyright p {
  text-align: start;
}
footer .container .copyright .other-list {
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  footer .container .copyright .other-list {
    gap: 8px !important;
  }
}
@media (min-width: 768px) {
  footer .container .copyright .other-list {
    flex-direction: row;
  }
}
footer .container .copyright .other-list a {
  color: #0d6c8d;
}
footer .container .copyright .other-list p {
  text-align: start;
}

.dropdown {
  font-family: "Outfit", sans-serif;
  margin-top: 5px;
}
.dropdown .active-language {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  background-color: #EBEFF5;
  border-radius: 80px;
}
.dropdown .active-language img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}
.dropdown .active-language span {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  line-height: 24px;
  color: #0D6C8D;
}

.dropdown-menu {
  background: white;
  border-radius: 12px;
  border: 1px solid #C6D9E3;
  list-style: none;
  gap: 8px;
  padding: 8px;
  margin-top: 8px !important;
}
.dropdown-menu li {
  gap: 8px;
  padding: 6px 8px 6px 8px;
  border-radius: 8px;
}
.dropdown-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.dropdown-menu li a img {
  width: 20px;
  height: auto;
}
.dropdown-menu li a span {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  color: #0D6C8D;
}
.dropdown-menu li:hover {
  background: #F4F4F9;
  border-radius: 8px;
}

section.display-hero {
  font-family: "Outfit", sans-serif;
  display: flex;
  padding-block: 5rem;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  section.display-hero {
    padding-block: 8rem;
  }
}
@media (min-width: 1400px) {
  section.display-hero {
    padding-top: 14rem;
    padding-bottom: 5rem;
  }
}
section.display-hero .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  max-width: 100vw;
}
@media (min-width: 1024px) {
  section.display-hero .content {
    gap: 24px;
  }
}
section.display-hero .content h1 {
  font-size: 41.47px;
  color: #0d6c8d;
  font-weight: 400;
  max-width: 544px;
}
@media (min-width: 1024px) {
  section.display-hero .content h1 {
    font-size: 72px;
  }
}
section.display-hero .content h1 span {
  font-weight: 700;
}
section.display-hero .content p {
  color: #80838d;
  font-size: 1rem;
  max-width: 544px;
}
@media (min-width: 1024px) {
  section.display-hero .content p {
    font-size: 24px;
  }
}
section.display-hero .content button {
  background-color: #dde6ee;
  color: #0d6c8d;
  border: none;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  section.display-hero .content button {
    font-size: 20px;
  }
}
section.display-hero .content button:hover {
  background-color: #0d6c8d;
  color: white;
}
section.display-hero .graphics {
  position: relative;
  width: 624px;
  display: none;
}
@media (min-width: 1024px) {
  section.display-hero .graphics {
    display: block;
  }
}
section.display-hero .graphics img {
  position: absolute;
}
section.display-hero .graphics .sea {
  width: 495px;
  height: 277px;
  object-fit: cover;
  border-radius: 60px;
  bottom: 0;
  right: 4rem;
}
@media (max-width: 1024px) {
  section.display-hero .graphics .sea {
    width: 400px;
    height: 210px;
    right: 2rem;
  }
}
section.display-hero .graphics .fishery {
  width: 624px;
  bottom: 0;
  left: -3rem;
}
@media (max-width: 1024px) {
  section.display-hero .graphics .fishery {
    width: 524px;
  }
}
section.display-hero .graphics .bg-wave {
  width: auto;
  height: 82px;
  right: 1rem;
  top: 48%;
}
@media (min-width: 1400px) {
  section.display-hero .graphics .bg-wave {
    right: 3rem;
    top: 15%;
  }
}
section.display-hero .graphics .round-waves {
  bottom: -3rem;
  left: 1rem;
}

section.opening {
  padding-block: 10rem;
  row-gap: 48px;
}
section.opening * {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  section.opening {
    padding-block: 4rem;
  }
}
section.opening img {
  max-width: 640px;
  height: 48px;
  object-fit: cover;
}
@media (max-width: 576px) {
  section.opening img {
    height: 32px;
    max-width: 320px;
  }
}
section.opening .text-content p {
  font-size: 40px;
  color: #0d6c8d;
  max-width: 640px;
}
@media (max-width: 992px) {
  section.opening .text-content p {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  section.opening .text-content p {
    font-size: 24px;
  }
}

section.presentation {
  padding-block: 10rem;
  column-gap: 96px;
}
section.presentation * {
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  section.presentation {
    padding-block: 4rem;
    column-gap: 2rem;
  }
}
@media (max-width: 576px) {
  section.presentation {
    flex-direction: column;
    row-gap: 2rem;
  }
}
section.presentation img {
  width: 544px;
  height: 360px;
  border-radius: 2rem;
  object-fit: cover;
}
@media (max-width: 1200px) {
  section.presentation img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 992px) {
  section.presentation img {
    width: 320px;
    height: 240px;
  }
}
@media (max-width: 576px) {
  section.presentation img {
    width: 100%;
  }
}
section.presentation .text-content {
  row-gap: 1rem;
}
section.presentation .text-content h2 {
  font-size: 2rem;
  color: #0d6c8d;
  font-weight: 600;
}
@media (max-width: 1200px) {
  section.presentation .text-content h2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 576px) {
  section.presentation .text-content h2 {
    font-size: 1.5rem;
  }
}
section.presentation .text-content p {
  color: #80838d;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  section.presentation .text-content p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  section.presentation .text-content p {
    font-size: 16px;
  }
}
section.presentation .text-content img.wave {
  opacity: 0.3;
  height: 64px;
  width: 74px;
  object-fit: contain;
  right: 0;
  top: -2.5rem;
}
@media (max-width: 1200px) {
  section.presentation .text-content img.wave {
    display: none;
  }
}

section.testimonies {
  padding-block: 10rem;
  row-gap: 64px;
}
@media (max-width: 576px) {
  section.testimonies {
    padding-block: 4rem;
  }
}
section.testimonies p {
  color: #0d6c8d;
}
section.testimonies .header {
  row-gap: 48px;
  max-width: 640px;
}
@media (max-width: 992px) {
  section.testimonies .header {
    row-gap: 32px;
    max-width: 520px;
  }
}
section.testimonies .header p.description {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 768px) {
  section.testimonies .header p.description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  section.testimonies .header p.description {
    font-size: 16px;
  }
}
section.testimonies .header img.wave {
  width: 100%;
  height: 48px;
  object-fit: cover;
}
@media (max-width: 576px) {
  section.testimonies .header img.wave {
    height: 32px;
  }
}
section.testimonies .trusted-brands {
  row-gap: 2rem;
}
@media (max-width: 576px) {
  section.testimonies .trusted-brands {
    row-gap: 1rem;
  }
}
section.testimonies .trusted-brands p {
  font-size: 18px;
}
@media (max-width: 576px) {
  section.testimonies .trusted-brands p {
    font-size: 16px;
  }
}
section.testimonies .trusted-brands .companies {
  gap: 2rem;
}
@media (max-width: 576px) {
  section.testimonies .trusted-brands .companies {
    gap: 1rem;
  }
}
section.testimonies .trusted-brands .companies img {
  height: 32px;
  object-fit: contain;
}
@media (max-width: 576px) {
  section.testimonies .trusted-brands .companies img {
    height: 20px;
  }
}

section.services {
  padding-block: 3rem;
  color: #0d6c8d;
  padding-inline: 1rem;
}
@media (min-width: 768px) {
  section.services {
    padding-inline: 0;
  }
}
@media (min-width: 992px) {
  section.services {
    padding-block: 10rem;
  }
}
section.services h2 {
  font-size: 48px;
}
section.services .content .content-row {
  gap: 1rem;
}
@media (min-width: 992px) {
  section.services .content .content-row {
    gap: 0;
  }
}
section.services .content .content-row .service-item-wrapper .service-item {
  border-radius: 32px;
  min-height: 224px;
  max-width: 256px;
  min-width: 256px;
  padding-bottom: 24px !important;
  padding-left: 24px !important;
}
section.services .content .content-row .service-item-wrapper .service-item img {
  width: 64px;
  height: 64px;
}
section.services .content .content-row .service-item-wrapper .service-item p {
  font-size: 24px;
  align-self: start;
}
section.services .content .content-row .image-description img {
  width: 100%;
  height: 384px;
  object-fit: contain;
}
@media (min-width: 1200px) {
  section.services .content .content-row .image-description img {
    width: 384px;
  }
}
section.services .content .content-row .image-description p {
  color: #80838d;
  font-size: 18px;
}

section.blog-news {
  padding-block: 128px;
  padding-inline: 1rem;
}
@media (min-width: 768px) {
  section.blog-news {
    padding-inline: 0;
  }
}
section.blog-news .blog-news-wrapper {
  flex-direction: column-reverse;
  row-gap: 2rem;
}
@media (min-width: 992px) {
  section.blog-news .blog-news-wrapper {
    flex-direction: row;
  }
}
section.blog-news .blog-news-item-wrapper {
  border: none !important;
  row-gap: 32px;
}
@media (min-width: 992px) {
  section.blog-news .blog-news-item-wrapper {
    padding-right: 32px !important;
    border-right: 1px solid #dde6ee !important;
  }
}
section.blog-news .blog-news-item-wrapper .blog-news-item {
  cursor: pointer;
}
section.blog-news .blog-news-item-wrapper .blog-news-item img {
  width: 72px;
  height: 72px;
}
section.blog-news .blog-news-item-wrapper .blog-news-item .text-wrapper a {
  text-decoration: none;
  font-size: 18px;
  color: #0d1321;
}
section.blog-news .blog-news-item-wrapper .blog-news-item .text-wrapper a:hover {
  text-decoration: underline;
}
section.blog-news .blog-news-item-wrapper .blog-news-item .text-wrapper span {
  font-size: 14px;
  color: #80838d;
}
section.blog-news .text-content-wrapper h2 {
  font-size: 32px;
  color: #0d6c8d;
}
section.blog-news .text-content-wrapper p {
  color: #80838d;
  font-weight: 400;
}
section.blog-news .text-content-wrapper button {
  padding-inline: 32px;
  background-color: #dde6ee;
  color: #0d6c8d;
  border: none;
}
section.blog-news .text-content-wrapper button:hover {
  background-color: #0d6c8d;
  color: white;
}

@media (min-width: 992px) {
  section.product {
    padding-block: 3rem;
  }
}
@media (min-width: 1280px) {
  section.product {
    padding-block: 128px;
  }
}
section.product .content-wrapper {
  row-gap: 2rem;
}
@media (min-width: 992px) {
  section.product .content-wrapper {
    max-width: 700px;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  section.product .content-wrapper {
    max-width: 100%;
  }
}
section.product .text-content h2 {
  font-size: 2rem;
  color: #0d6c8d;
}
section.product .text-content p {
  font-weight: 400;
  color: #80838d;
}
section.product .text-content button {
  background-color: #dde6ee;
  color: #0d6c8d;
  padding-inline: 32px;
  border: none;
}
section.product .text-content button:hover {
  background-color: #0d6c8d;
  color: white;
}
section.product .product-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 150px 150px 150px;
  gap: 24px;
}
@media (min-width: 768px) {
  section.product .product-preview {
    grid-template-rows: auto;
  }
}
section.product .product-preview img {
  min-width: 100%;
  max-width: 192px;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
section.product .product-preview img:nth-child(1) {
  grid-column: 1/4;
}
@media (min-width: 768px) {
  section.product .product-preview img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
section.product .product-preview img:nth-child(2) {
  grid-column: 1/4;
}
@media (min-width: 768px) {
  section.product .product-preview img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 112px;
  }
}
section.product .product-preview img:nth-child(3) {
  grid-column: 1/4;
}
@media (min-width: 768px) {
  section.product .product-preview img:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
section.product .product-preview img:nth-child(4) {
  grid-column: 1/4;
}
@media (min-width: 768px) {
  section.product .product-preview img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 152px;
  }
}

section.testimonial {
  row-gap: 4rem;
  padding-block: 5rem;
}
@media (max-width: 576px) {
  section.testimonial {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  section.testimonial {
    row-gap: 108px;
    padding-block: 128px;
    max-width: 928px;
  }
}
section.testimonial .testimonial-item {
  column-gap: 4rem;
}
@media (max-width: 576px) {
  section.testimonial .testimonial-item {
    row-gap: 2rem;
    flex-direction: column-reverse;
  }
}
section.testimonial .testimonial-item .text-quote {
  align-items: baseline;
  column-gap: 1rem;
  max-width: 608px;
}
@media (max-width: 576px) {
  section.testimonial .testimonial-item .text-quote {
    column-gap: 12px;
  }
}
section.testimonial .testimonial-item .text-quote .bi-quote {
  color: #0d6c8d;
  font-size: 52px;
}
@media (max-width: 576px) {
  section.testimonial .testimonial-item .text-quote .bi-quote {
    font-size: 2rem;
  }
}
section.testimonial .testimonial-item .text-quote .text-content {
  row-gap: 12px;
}
section.testimonial .testimonial-item .text-quote .text-content * {
  margin: 0;
}
section.testimonial .testimonial-item .text-quote .text-content h2 {
  color: #0d6c8d;
  font-weight: 500;
  font-size: 2rem;
}
@media (max-width: 576px) {
  section.testimonial .testimonial-item .text-quote .text-content h2 {
    font-size: 24px;
  }
}
section.testimonial .testimonial-item .text-quote .text-content p {
  font-weight: 400;
  color: #80838d;
  font-size: 18px;
}
section.testimonial .testimonial-item .text-quote .text-content p span {
  font-weight: 700;
}
section.testimonial .testimonial-item .img-wrapper img {
  border-radius: 36px;
  object-fit: cover;
  min-width: 100%;
  max-width: 320px;
  min-height: 100%;
  max-height: 144px;
}
@media (max-width: 992px) {
  section.testimonial .testimonial-item .img-wrapper img {
    width: 144px;
    height: 144px;
  }
}
@media (min-width: 768px) {
  section.testimonial .testimonial-item.reverse {
    flex-direction: row-reverse;
  }
  section.testimonial .testimonial-item.reverse .text-quote {
    flex-direction: row-reverse;
  }
  section.testimonial .testimonial-item.reverse .text-quote .bi-quote {
    transform: rotate(180deg);
  }
  section.testimonial .testimonial-item.reverse .text-quote .text-content h2,
  section.testimonial .testimonial-item.reverse .text-quote .text-content p {
    text-align: end;
  }
}

section.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 100%;
  margin-inline: auto;
}
@media (min-width: 768px) {
  section.contact {
    max-width: 450px;
  }
}
@media (min-width: 992px) {
  section.contact {
    max-width: 928px;
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
@media (min-width: 1200px) {
  section.contact {
    padding-bottom: 256px;
  }
}
section.contact form {
  row-gap: 24px;
}
section.contact form h2 {
  color: #0d6c8d;
  font-size: 2rem;
}
section.contact form input,
section.contact form textarea {
  border: 1px solid #c6d9e3;
  border-radius: 12px;
  padding: 12px 1rem;
}
section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: #80b0c3;
  font-weight: 400;
  font-size: 16px;
}
section.contact form textarea {
  min-height: 160px;
}
section.contact form button {
  padding: 12px 48px;
}
section.contact .img-wrapper {
  display: none;
}
@media (min-width: 992px) {
  section.contact .img-wrapper {
    display: flex;
  }
}
section.contact .img-wrapper img {
  height: 100%;
  width: 352px;
  border-radius: 80px;
}

section.featured-news {
  padding-block: 48px;
  border-bottom: 1px solid #dddde3;
}
section.featured-news * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@media (max-width: 992px) {
  section.featured-news {
    max-width: 550px;
    margin-inline: auto;
  }
}
@media (max-width: 576px) {
  section.featured-news {
    padding-top: 2rem;
  }
}
section.featured-news .heading {
  margin-bottom: 2rem;
}
section.featured-news .heading h2 {
  color: #0d6c8d;
  font-weight: 600;
}
section.featured-news .blog-news {
  row-gap: 32px;
}
section.featured-news .blog-news .headline {
  row-gap: 12px;
  padding-right: 2rem;
  border-right: 1px solid #dddde3;
}
@media (max-width: 992px) {
  section.featured-news .blog-news .headline {
    border-right: none;
    border-bottom: 1px solid #dddde3;
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
section.featured-news .blog-news .headline:hover .headline-title {
  text-decoration: underline;
}
section.featured-news .blog-news .headline img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 576px) {
  section.featured-news .blog-news .headline img {
    height: 170px !important;
  }
}
section.featured-news .blog-news .headline .headline-text {
  row-gap: 12px;
}
section.featured-news .blog-news .headline .headline-text .headline-title {
  font-size: 20px;
  color: #0d1321;
}
section.featured-news .blog-news .headline .headline-text .headline-description,
section.featured-news .blog-news .headline .headline-text .headline-date-author {
  color: #80838d;
  font-size: 14px;
}
section.featured-news .blog-news .secondary-headline {
  padding-left: 2rem;
}
@media (max-width: 992px) {
  section.featured-news .blog-news .secondary-headline {
    padding-left: 0;
  }
}
section.featured-news .blog-news .secondary-headline .secondary-news-blog-list {
  row-gap: 24px;
}
section.featured-news .blog-news .secondary-headline .blog-news-item,
section.featured-news .blog-news .secondary-headline .editor-pick-item {
  column-gap: 12px;
}
section.featured-news .blog-news .secondary-headline .blog-news-item:hover .headline-title,
section.featured-news .blog-news .secondary-headline .editor-pick-item:hover .headline-title {
  text-decoration: underline;
}
section.featured-news .blog-news .secondary-headline .blog-news-item img,
section.featured-news .blog-news .secondary-headline .editor-pick-item img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
}
section.featured-news .blog-news .secondary-headline .blog-news-item .headline-title,
section.featured-news .blog-news .secondary-headline .blog-news-item .editor-pick-title,
section.featured-news .blog-news .secondary-headline .editor-pick-item .headline-title,
section.featured-news .blog-news .secondary-headline .editor-pick-item .editor-pick-title {
  font-size: 1rem;
  color: #0d1321;
}
section.featured-news .blog-news .secondary-headline .blog-news-item .headline-date-author,
section.featured-news .blog-news .secondary-headline .blog-news-item .editor-pick-date-author,
section.featured-news .blog-news .secondary-headline .editor-pick-item .headline-date-author,
section.featured-news .blog-news .secondary-headline .editor-pick-item .editor-pick-date-author {
  font-size: 12px;
  color: #80838d;
}
section.featured-news .blog-news .secondary-headline .editor-pick {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #dddde3;
  row-gap: 12px;
}
section.featured-news .blog-news .secondary-headline .editor-pick .editor-pick-header-title {
  font-size: 18px;
  color: #0d6c8d;
}
section.featured-news .blog-news .secondary-headline .editor-pick .editor-pick-list {
  row-gap: 12px;
}
section.featured-news .blog-news .secondary-headline .editor-pick .editor-pick-item {
  row-gap: 2px;
}
section.featured-news .blog-news .secondary-headline .editor-pick .editor-pick-item:hover .editor-pick-title {
  text-decoration: underline;
}

section.explore-news {
  padding-bottom: 12rem;
  padding-top: 48px;
}
section.explore-news * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@media (max-width: 992px) {
  section.explore-news {
    max-width: 550px;
    margin-inline: auto;
  }
}
section.explore-news .author-list {
  max-width: 274px;
  row-gap: 24px;
  padding-left: 1rem;
}
@media (max-width: 992px) {
  section.explore-news .author-list {
    display: none !important;
  }
}
section.explore-news .author-list .author-list-header-title {
  color: #80838d;
  font-size: 24px;
}
section.explore-news .author-list .author-list-item {
  column-gap: 12px;
}
section.explore-news .author-list .author-list-item:hover .author-list-item-text .author-list-item-name {
  text-decoration: underline;
}
section.explore-news .author-list .author-list-item .author-list-item-text .author-list-item-name {
  color: #0d6c8d;
}
section.explore-news .author-list .author-list-item .author-list-item-text .author-list-item-role {
  color: #80838d;
  font-size: 12px;
}
section.explore-news .author-list .author-list-item img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
section.explore-news .author-list .author-list-wrapper {
  row-gap: 1rem;
  align-items: end;
}
section.explore-news .explore-news-list {
  padding-right: 1rem;
  border-right: 1px solid #dddde3;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list {
    border-right: none;
    padding-right: 0;
  }
}
section.explore-news .explore-news-list form.search-input-form {
  margin-bottom: 48px;
}
section.explore-news .explore-news-list form.search-input-form input.search-input {
  padding-block: 12px;
  padding-inline: 24px;
  font-family: "Outfit", sans-serif;
  color: #0d6c8d;
  font-size: 1rem;
  border: 1px solid #80b0c3;
}
section.explore-news .explore-news-list form.search-input-form input.search-input::placeholder {
  color: #80b0c3;
}
section.explore-news .explore-news-list form.search-input-form button.search-btn {
  font-size: 20px;
  color: #80b0c3;
  right: 20.5px;
  top: 17%;
  transition: all 250ms ease-in-out;
}
section.explore-news .explore-news-list form.search-input-form button.search-btn:hover {
  color: #0d6c8d;
}
section.explore-news .explore-news-list .explore-news-group-list {
  row-gap: 80px;
}
section.explore-news .explore-news-list .explore-news-list-group {
  border-bottom: 1px solid #dddde3;
  padding-bottom: 12px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item {
  font-family: "Outfit", sans-serif;
  row-gap: 8px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item * {
  margin: 0;
  padding: 0;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item:hover .explore-news-item-title {
  text-decoration: underline;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item img.explore-news-item-image {
  width: 100%;
  height: 176px;
  object-fit: cover;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item .explore-news-item-title {
  font-weight: 400;
  color: #0d1321;
  font-size: 1rem;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-item .explore-news-item-date-author {
  font-family: "Open Sans", sans-serif;
  color: #80838d;
  font-size: 12px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item {
  padding-right: 24px;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item {
    padding-right: 0;
    margin-bottom: 24px;
    flex-direction: row !important;
    column-gap: 12px;
    align-items: center;
  }
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item img.explore-news-item-image {
    width: 64px;
    height: 64px;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item .explore-news-item-date-author {
  font-weight: 600;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item .explore-news-item-date-author {
    font-weight: 400;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .first-item .explore-news-text {
  row-gap: 8px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .beside-first-item {
  padding-left: 24px;
  padding-right: 2rem;
  row-gap: 24px;
  border-left: 1px solid #dddde3;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .beside-first-item {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .beside-first-item .explore-news-item {
  column-gap: 12px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .beside-first-item .explore-news-item img.explore-news-item-image {
  width: 64px;
  height: 64px;
  display: none;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .beside-first-item .explore-news-item img.explore-news-item-image {
    display: block;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .rest-items {
  row-gap: 24px;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .rest-items {
    margin-top: 24px;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .rest-items .explore-news-item {
  max-width: 528px;
  column-gap: 12px;
}
@media (max-width: 992px) {
  section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .rest-items .explore-news-item {
    max-width: 100%;
  }
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .rest-items .explore-news-item img.explore-news-item-image {
  height: 64px;
  width: 64px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-header {
  row-gap: 4px;
  margin-bottom: 32px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-header h3.explore-news-group-header-title {
  text-transform: capitalize;
  font-size: 2rem;
  color: #0d6c8d;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-header p.explore-news-group-header-description {
  font-size: 1rem;
  color: #80838d;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-footer {
  margin-top: 2rem;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-footer a.explore-news-group-footer-link {
  font-size: 1rem;
  color: #0d6c8d;
  column-gap: 4px;
}
section.explore-news .explore-news-list .explore-news-list-group .explore-news-group-item .explore-news-group-footer a.explore-news-group-footer-link:hover {
  text-decoration: underline;
}

section.details-article {
  max-width: 736px;
  padding-top: 48px;
  padding-bottom: 220px;
  row-gap: 2rem;
}
section.details-article * {
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  section.details-article {
    padding-top: 1.5rem;
  }
}
section.details-article .header {
  row-gap: 1rem;
}
section.details-article .header .breadcrumb-wrapper .breadcrumb * {
  text-decoration: none;
}
section.details-article .header .breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
  font-size: 14px;
  color: #80838d;
}
section.details-article .header .breadcrumb-wrapper .breadcrumb .breadcrumb-item.current-category a {
  color: #0d6c8d;
}
section.details-article .header .title h1 {
  font-size: 2rem;
  color: #0d6c8d;
}
@media (max-width: 576px) {
  section.details-article .header .title h1 {
    font-size: 1.75rem;
  }
}
section.details-article .header .abstract p {
  color: #80838d;
}
@media (max-width: 576px) {
  section.details-article .header .abstract p {
    font-size: 14px;
  }
}
section.details-article .header .author-and-publish-date {
  padding: 0.5rem 1rem;
}
@media (max-width: 576px) {
  section.details-article .header .author-and-publish-date {
    padding: 0;
  }
}
section.details-article .header .author-and-publish-date p {
  color: #80838d;
}
@media (max-width: 576px) {
  section.details-article .header .author-and-publish-date p {
    font-size: 14px;
  }
}
section.details-article .banner {
  row-gap: 4px;
}
section.details-article .banner img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 576px) {
  section.details-article .banner img {
    height: 170px;
  }
}
section.details-article .banner .source {
  color: #80838d;
  font-size: 10px;
}
section.details-article .content {
  column-gap: 2rem;
  row-gap: 3rem;
}
@media (max-width: 576px) {
  section.details-article .content {
    flex-direction: column;
  }
}
section.details-article .content .additional-info {
  max-width: 160px;
  row-gap: 12px;
}
@media (max-width: 576px) {
  section.details-article .content .additional-info {
    align-items: start !important;
  }
}
section.details-article .content .additional-info img.author-picture {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
section.details-article .content .additional-info .author-info {
  row-gap: 4px;
}
@media (max-width: 576px) {
  section.details-article .content .additional-info .author-info {
    align-items: start !important;
  }
}
section.details-article .content .additional-info .author-info .name {
  font-size: 18px;
  color: #0d6c8d;
}
@media (max-width: 576px) {
  section.details-article .content .additional-info .author-info .name {
    text-align: start !important;
  }
}
section.details-article .content .additional-info .author-info .role {
  font-size: 12px;
  color: #80838d;
}
@media (max-width: 576px) {
  section.details-article .content .additional-info .author-info .role {
    text-align: start !important;
  }
}
section.details-article .content .additional-info .social-media {
  column-gap: 12px;
}
section.details-article .content .additional-info .social-media a {
  color: #80838d;
  font-size: 20px;
}
section.details-article .content .additional-info .social-media a:hover {
  color: #0d6c8d;
}
section.details-article .content .content-body {
  row-gap: 1rem;
}
section.details-article .content .content-body h1,
section.details-article .content .content-body h2,
section.details-article .content .content-body h3,
section.details-article .content .content-body h4,
section.details-article .content .content-body h5,
section.details-article .content .content-body h6 {
  font-family: "Outfit", sans-serif;
  color: #0d6c8d;
}
section.details-article .content .content-body p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #80838d;
}
@media (max-width: 576px) {
  section.details-article .content .content-body p {
    font-size: 14px;
  }
}

section.product-list {
  padding-top: 48px;
  padding-bottom: 80px;
  row-gap: 80px;
}
section.product-list * {
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  section.product-list {
    row-gap: 30px;
  }
}
section.product-list .heading-items {
  padding-block: 2rem;
  row-gap: 2rem;
}
section.product-list .heading-items h2 {
  color: #0d6c8d;
  font-size: 48px;
}
section.product-list .heading-items form {
  max-width: fit-content;
}
section.product-list .heading-items form input {
  width: 544px;
  padding-block: 12px;
  padding-inline: 24px;
  font-family: "Outfit", sans-serif;
  color: #0d6c8d;
  font-size: 1rem;
  border: 1px solid #80b0c3;
}
section.product-list .heading-items form input::placeholder {
  color: #80b0c3;
}
section.product-list .heading-items form button {
  font-size: 22px;
  right: 4%;
  top: 17%;
  border-width: 0;
  color: #80b0c3;
  transition: all 0.2s ease-in-out;
}
section.product-list .heading-items form button:hover {
  color: #0d6c8d;
}
section.product-list .product-list-wrapper {
  column-gap: 2rem;
  row-gap: 48px;
  padding-inline: 2rem;
}
@media (max-width: 576px) {
  section.product-list .product-list-wrapper {
    column-gap: 1rem;
  }
}
@media (max-width: 768px) {
  section.product-list .product-list-wrapper {
    padding-inline: 0;
  }
}
section.product-list .product-list-wrapper .product-item {
  row-gap: 12px;
  max-width: 240px;
  text-decoration: none;
}
section.product-list .product-list-wrapper .product-item:hover .product-item-text h3 {
  text-decoration: underline;
}
section.product-list .product-list-wrapper .product-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 1rem;
}
@media (max-width: 992px) {
  section.product-list .product-list-wrapper .product-item img {
    height: 180px;
  }
}
@media (max-width: 576px) {
  section.product-list .product-list-wrapper .product-item img {
    height: 140px;
  }
}
section.product-list .product-list-wrapper .product-item .product-item-text {
  row-gap: 4px;
}
section.product-list .product-list-wrapper .product-item .product-item-text h3 {
  color: rgba(13, 19, 33, 0.75);
  font-size: 20px;
}
@media (max-width: 576px) {
  section.product-list .product-list-wrapper .product-item .product-item-text h3 {
    font-size: 16px;
  }
}
section.product-list .product-list-wrapper .product-item .product-item-text .category {
  font-size: 14px;
  color: rgba(13, 19, 33, 0.5);
}
section.product-list .product-list-wrapper .product-item .product-item-text .price {
  color: #0d6c8d;
}
@media (max-width: 576px) {
  section.product-list .product-list-wrapper .product-item .product-item-text .price {
    font-size: 14px;
  }
}

section.product-details {
  max-width: 928px;
  row-gap: 1rem;
  padding-top: 48px;
  min-height: 750px;
}
section.product-details * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@media (max-width: 576px) {
  section.product-details {
    padding-top: 18px;
    padding-bottom: 80px;
  }
}
section.product-details .breadcrumb {
  font-size: 12px;
}
section.product-details .breadcrumb .breadcrumb-item {
  color: #0d6c8d;
}
section.product-details .breadcrumb .breadcrumb-item a {
  color: #80838d;
}
section.product-details .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
section.product-details .product-details-wrapper {
  gap: 2rem;
}
section.product-details .product-details-wrapper .product-images {
  row-gap: 1rem;
}
section.product-details .product-details-wrapper .product-images .main-image img {
  width: 100%;
  height: 448px;
  border-radius: 1rem;
  object-fit: cover;
}
@media (max-width: 576px) {
  section.product-details .product-details-wrapper .product-images .main-image img {
    height: 250px;
  }
}
@media (max-width: 768px) {
  section.product-details .product-details-wrapper .product-images .main-image img {
    height: 300px;
  }
}
section.product-details .product-details-wrapper .product-images .other-images {
  column-gap: 1rem;
}
section.product-details .product-details-wrapper .product-images .other-images img {
  border-radius: 8px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  cursor: pointer;
}
section.product-details .product-details-wrapper .product-images .other-images img:hover {
  opacity: 0.75;
}
section.product-details .product-details-wrapper .product-details {
  row-gap: 2rem;
}
section.product-details .product-details-wrapper .product-details .header {
  row-gap: 8px;
}
section.product-details .product-details-wrapper .product-details .header h1 {
  font-size: 24px;
  color: #0d6c8d;
  font-weight: 600;
}
section.product-details .product-details-wrapper .product-details .header p.category {
  font-size: 1rem;
  color: #80838d;
}
section.product-details .product-details-wrapper .product-details .details .accordion-item {
  border: none;
  border-bottom: 1px solid #dddde3;
}
section.product-details .product-details-wrapper .product-details .details .accordion-item:first-child {
  border-top: 1px solid #dddde3;
}
section.product-details .product-details-wrapper .product-details .details .accordion-item h2 button {
  color: #0d6c8d;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 1rem;
  box-shadow: none;
  background-color: white;
}
section.product-details .product-details-wrapper .product-details .details .accordion-item h2 button::after {
  color: #0d6c8d;
  fill: #0d6c8d;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22%230D6C8D%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%22%2F%3E%3C%2Fsvg%3E);
}
section.product-details .product-details-wrapper .product-details .details .accordion-item .accordion-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
section.product-details .product-details-wrapper .product-details .details .accordion-item .accordion-body p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #80838d;
}
section.product-details .product-details-wrapper .product-details .cta .price-contact {
  border-radius: 1rem;
  border-color: #c6d9e3 !important;
  padding: 12px 1rem;
  column-gap: 1rem;
}
section.product-details .product-details-wrapper .product-details .cta .price-contact .price {
  row-gap: 8px;
}
section.product-details .product-details-wrapper .product-details .cta .price-contact .price .title {
  color: #80838d;
  font-size: 14px;
}
section.product-details .product-details-wrapper .product-details .cta .price-contact .price .value {
  font-weight: 600;
  font-size: 24px;
  color: #0d6c8d;
}
section.product-details .product-details-wrapper .product-details .cta .price-contact a.contact {
  padding: 8px 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-medium {
  font-weight: 500;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    padding-inline: 0;
  }
}

/*# sourceMappingURL=custom.css.map */
