// Components
@import "./components/common.scss";
@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/internasionalization.scss";

// Pages
@import "./pages/home.scss";
@import "./pages/blog-news.scss";
@import "./pages/blog-news-by-category.scss";
@import "./pages/detail-article.scss";
@import "./pages/product-list.scss";
@import "./pages/product-details.scss";

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-medium {
  font-weight: 500;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1120px;
    padding-inline: 0;
  }
}
