section.explore-news {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  padding-bottom: 12rem;
  padding-top: 48px;

  @media (max-width: 992px) {
    max-width: 550px;
    margin-inline: auto;
  }

  .author-list {
    max-width: 274px;
    row-gap: 24px;
    padding-left: 1rem;

    @media (max-width: 992px) {
      display: none !important;
    }

    .author-list-header-title {
      color: $secondary-color;
      font-size: 24px;
    }

    .author-list-item {
      column-gap: 12px;

      &:hover {
        .author-list-item-text {
          .author-list-item-name {
            text-decoration: underline;
          }
        }
      }

      .author-list-item-text {
        .author-list-item-name {
          color: $primary-color;
        }

        .author-list-item-role {
          color: $secondary-color;
          font-size: 12px;
        }
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
      }
    }

    .author-list-wrapper {
      row-gap: 1rem;
      align-items: end;
    }
  }

  .explore-news-list {
    padding-right: 1rem;
    border-right: 1px solid #dddde3;

    @media (max-width: 992px) {
      border-right: none;
      padding-right: 0;
    }

    form.search-input-form {
      margin-bottom: 48px;

      input.search-input {
        padding-block: 12px;
        padding-inline: 24px;
        font-family: $font-outfit;
        color: $primary-color;
        font-size: 1rem;
        border: 1px solid #80b0c3;

        &::placeholder {
          color: #80b0c3;
        }
      }

      button.search-btn {
        font-size: 20px;
        color: #80b0c3;

        right: 20.5px;
        top: 17%;
        transition: all 250ms ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .explore-news-group-list {
      row-gap: 80px;
    }

    .explore-news-list-group {
      border-bottom: 1px solid #dddde3;
      padding-bottom: 12px;

      .explore-news-group-item {
        .explore-news-item {
          * {
            margin: 0;
            padding: 0;
          }

          &:hover {
            .explore-news-item-title {
              text-decoration: underline;
            }
          }

          font-family: $font-outfit;
          row-gap: 8px;

          @media (max-width: 576px) {
            flex-direction: column;
          }

          img.explore-news-item-image {
            width: 100%;
            height: 176px;
            object-fit: cover;

            @media (max-width: 576px) {
              width: 100% !important;
              height: 180px !important;
            }
          }

          .explore-news-item-title {
            font-weight: 400;
            color: #0d1321;
            font-size: 1rem;
          }

          .explore-news-item-date-author {
            font-family: $font-open-sans;
            color: $secondary-color;
            font-size: 12px;
          }
        }

        .first-item {
          padding-right: 24px;

          @media (max-width: 992px) {
            padding-right: 0;
            margin-bottom: 24px;
            flex-direction: row !important;
            column-gap: 12px;
            align-items: center;

            img.explore-news-item-image {
              width: 64px;
              height: 64px;
            }
          }

          @media (max-width: 576px) {
            flex-direction: column !important;
          }

          .explore-news-item-date-author {
            font-weight: 600;

            @media (max-width: 992px) {
              font-weight: 400;
            }
          }

          .explore-news-text {
            row-gap: 8px;
          }
        }

        .beside-first-item {
          padding-left: 24px;
          padding-right: 2rem;
          row-gap: 24px;
          border-left: 1px solid #dddde3;

          @media (max-width: 992px) {
            border-left: none;
            padding-left: 0;
            padding-right: 0;
          }

          .explore-news-item {
            column-gap: 12px;

            img.explore-news-item-image {
              width: 64px;
              height: 64px;
              display: none;

              @media (max-width: 992px) {
                display: block;
              }
            }
          }
        }

        .rest-items {
          row-gap: 24px;
          margin-top: 2rem;

          @media (max-width: 992px) {
            margin-top: 24px;
          }

          .explore-news-item {
            max-width: 528px;

            @media (max-width: 992px) {
              max-width: 100%;
            }

            img.explore-news-item-image {
              height: 64px;
              width: 64px;
            }

            column-gap: 12px;
          }
        }

        .explore-news-group-header {
          row-gap: 4px;
          margin-bottom: 32px;

          h3.explore-news-group-header-title {
            text-transform: capitalize;
            font-size: 2rem;
            color: $primary-color;
          }

          p.explore-news-group-header-description {
            font-size: 1rem;
            color: $secondary-color;
          }
        }

        .explore-news-group-footer {
          margin-top: 2rem;

          a.explore-news-group-footer-link {
            font-size: 1rem;
            color: $primary-color;
            column-gap: 4px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
