// colors
$primary-color: #0d6c8d;
$secondary-color: #80838d;

// font-family
$font-outfit: "Outfit", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

.btn-wbi {
  background-color: #dde6ee;
  padding: 1rem 2rem;
  border: none;
  color: #0d6c8d;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  font-size: 20px;

  &:hover {
    background-color: #0d6c8d;
    color: white;
  }
}
