section.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 100%;
  margin-inline: auto;

  @media (min-width: 768px) {
    max-width: 450px;
  }

  @media (min-width: 992px) {
    max-width: 928px;
    padding-top: 128px;
    padding-bottom: 128px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 256px;
  }

  form {
    row-gap: 24px;

    h2 {
      color: #0d6c8d;
      font-size: 2rem;
    }

    input,
    textarea {
      border: 1px solid #c6d9e3;
      border-radius: 12px;
      padding: 12px 1rem;
      &::placeholder {
        color: #80b0c3;
        font-weight: 400;
        font-size: 16px;
      }
    }

    textarea {
      min-height: 160px;
    }

    button {
      padding: 12px 48px;
    }
  }

  .img-wrapper {
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }

    img {
      height: 100%;
      width: 352px;
      border-radius: 80px;
    }
  }
}
