section.testimonial {
  row-gap: 4rem;
  padding-block: 5rem;

  @media (max-width: 576px) {
    padding-bottom: 0;
  }

  @media (min-width: 992px) {
    row-gap: 108px;
    padding-block: 128px;
    max-width: 928px;
  }

  .testimonial-item {
    column-gap: 4rem;

    @media (max-width: 576px) {
      row-gap: 2rem;
      flex-direction: column-reverse;
    }

    .text-quote {
      align-items: baseline;
      column-gap: 1rem;
      max-width: 608px;

      @media (max-width: 576px) {
        column-gap: 12px;
      }

      .bi-quote {
        color: #0d6c8d;
        font-size: 52px;

        @media (max-width: 576px) {
          font-size: 2rem;
        }
      }

      .text-content {
        row-gap: 12px;

        * {
          margin: 0;
        }

        h2 {
          color: #0d6c8d;
          font-weight: 500;
          font-size: 2rem;

          @media (max-width: 576px) {
            font-size: 24px;
          }
        }

        p {
          font-weight: 400;
          color: #80838d;
          font-size: 18px;

          span {
            font-weight: 700;
          }
        }
      }
    }

    .img-wrapper {
      img {
        border-radius: 36px;
        object-fit: cover;

        min-width: 100%;
        max-width: 320px;

        min-height: 100%;
        max-height: 144px;

        @media (max-width: 992px) {
          width: 144px;
          height: 144px;
        }
      }
    }
  }

  .testimonial-item.reverse {
    @media (min-width: 768px) {
      flex-direction: row-reverse;

      .text-quote {
        flex-direction: row-reverse;

        .bi-quote {
          transform: rotate(180deg);
        }

        .text-content {
          h2,
          p {
            text-align: end;
          }
        }
      }
    }
  }
}
